*{
  text-decoration: none;
}
body, #dog, #biography, #walls, #exam, #audit, #bus, #giraffe, #gafuchebuli {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#dog {
  width: 50%;
  border: 3px solid black;
  padding: 10px;
	position: relative;
}

h1 {
	text-align: center;
	color: black
}

h2 {
	color: black;
}

body {
	background: #c2c2c2;
}

#xx {
	color: darkblue;
}

h3 {
	color: red;
}

h4 {
	color: black;
}

#yyy {
	background-color: darkolivegreen;
	color: midnightblue;
	text-align: center;
}

p1 {
	color: maroon
}

#zzz {
	color: black;
  text-align: center;
}

.img-container {
	text-align: center;
}

#label {
	position: absolute;
	top: -10px;
	left: 20px;
	height: 40px;
	width: 200px;
	background-color: rgb(86, 202, 102);
	border: 2px solid rgb(3, 156, 15);
	text-align: center;
}
.giraffe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.commentInput {
  width: 100%;
  height: 25vh;
}
img {
  opacity: 0.7;
  border: 2px solid black;
  border-radius: 10px;
}
img:hover {
  opacity: 1;
}
#kam {
  height: 40vh;
  width: 30%;
  
  
}
textarea {
  background: #e0e0e0;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 5px solid green;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #114d96;
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  color: white;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #ffffff;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 18px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #ffffff;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 36rem; /**/
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2em 0;
}
.padvali {
  width: 300px;
  height: 400px;
}
.padvali1 {
  width: 300px;
  height: 400px;
}


.accordion {
  text-align: center;
  border: 5px solid black;
  text-decoration: none;
  background: green;
  color: #fff;
}
.accordion-item button {
  text-align: center;
}

#avt {
  width: 30%;
}

.accordion-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#ptext {text-align: center}
#Temperature{text-align: center}

#sagamocdo {
  width:300px;
  height:400px;
}
#sagamocdo1 {
  width: 300px;
  height: 400px;
}

#walls { 
  border: 3px solid black;
}
.tt{
  width:30vw;
  height:40vh;
  border: 5px solid #000000;
  color:crimson;
  transition: 0.1s ease-in-out;
  opacity: 0.5;
}
.tt:hover {
  opacity: 1;
}

#auditoria {
  width: 500px;
  height: 400px;
}

#gtext {text-align: center;}

#sia {
  border: 3px solid black;
  border-radius: 5em;
  padding: 2.5em;
  transition: 0.5s ease-in-out;
  color: red;
  background: transparent;
}
#sia:hover {
  color: yellow;
  background: black;
  transform: rotateY(360deg);
}

nav {
  margin: 20px;
  background: #000000;

  line-height: 70px;
  width: 95%;
  display: flex;
  flex-direction: row;
 
  align-items: center;
  padding: 0.5em;
  border-radius: 10px;
}
nav *{
  width: 10%;
  height: 100%;
  margin: 0 15px 0 15px;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  color: white;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5vw;

  transition: 0.2s ease-in-out;
  color: ghostwhite;
}

nav a:hover{
  color: yellow;
}


.like, .busButton, .examButton, .auditButton, .wallsButton, .tempButton, .giraffeButton{
  display: flex;
  flex-direction: row;
  justify-self: space-between;
  align-items:center;
}

.like *, .busButton *, .examButton *, auditButton *, .wallsButton*, .tempButton *, .giraffeButton *{
  margin: 4px;
}

#footer {text-align: center}







button {
  font-family: "Helvetica", "Arial", sans-serif;
  -webkit-appearance: none;
  appearance: none;
  background-color: darkgreen;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
button:focus {
  outline: 0;
}

button:before {
  display: none;
  background-image: radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, transparent 20%, darkgreen 20%, transparent 30%), radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, transparent 10%, darkgreen 15%, transparent 20%), radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, darkgreen 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, transparent 10%, darkgreen 15%, transparent 20%), radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, darkgreen 20%, transparent 20%), radial-gradient(circle, darkgreen 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}